<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>

    {{> header}}

    <body>
        <p>Some text here...</p>
        <div>
            Another link <a href='#'>here</a>.
        </div>
    </body>

    {{> footer}}

</html>